$background: #ebebeb;
$highlight: #e6e6e6;

// Header Styles
$headerBackground: #f1f8fc;
$headerBorder: #808080;
$textAlignDivs: #68b6e4;
$editBoxesFooterBorder: #d6d6d6;
$printButtonBorder: #098899;
$printButtonBackground: #09c7e0;
$printButtonDarkBG: #003238;

// Document Styles
$documentSheet: white;
$documentBorder: #808080;

// Footer Styles
$footerBackground: #f8f8f8;
$footerBorder: #808080;