@import "./colors";

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: $background;
    background-image: url("../images/redBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/***** The Header area that contains the editor *******/
header {
    width: auto;
    padding: 5px;
    background-color: $headerBackground;
    box-shadow: 0px 0px 5px 0px $headerBorder;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
// Global Styles for the Editor
.editor-sections {
    border-right: 1px solid grey; 
}
// Footer for the Editor Footer
.edit-boxes-footer {
    text-align: center;
    border-top: 1px solid $editBoxesFooterBorder;
    width: 180px;
    margin: auto;
    p {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 12px;
    }
}
header .buttons {
    width: 100px;
    border: 5px solid $printButtonBorder;
    border-radius: 5px;
    color: white;
    text-align: center;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    &:hover {
        cursor: pointer;
        color: grey;
    }
    i {
        font-size: 50px;
    }
}
/************** END OF GLOBAL STYLES ***************************/


/*** THE FONT SECTION ***************/
#font-section {

#font-style-area {
    width: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        div {
            padding: 10px;
            flex-grow: 1;
            transition: .3s ease;
            &:hover {
                background-color: $highlight;
                cursor: pointer;
            }
        }
    }
}
/************ END OF FONT SECTION *****************/

/*** START OF PARAGRAPH SECTION *****************/
#paragraph-section {

    #text-align-area {
        display: flex;
        justify-content: space-around;
        margin-bottom: 29px;
        div {
            text-align: center;
            flex-grow: 1;
            transition: .3s ease;
            &:hover {
                cursor: pointer;
                color: $textAlignDivs;
            }
            i {
                font-size: 30px;
            }
        }
    }
}
/************ END OF PARAGRAPH SECTION **********************/

/*** START OF STYLES SECTION *********************/
#styles-section {
    height: auto;
    .rows {
        display: flex;
        flex-direction: column;
    }
    .styles-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div {
            width: 100px;
            height: 45px;
            padding: 5px;
            text-align: center;
            background-color: white;
            border: 1px double black;
            border-width: 3px;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            &:hover {
                background-color: $highlight;
                cursor: pointer;
            }
            p {
                margin: 0;
            }
        }
    }
}
/************ END OF STYLES SECTION *************************/

/*** START OF PRINT SECTION ******/
#print-section {
    .print-area {
        display: flex;
        justify-content: center;
        button {
            background-color: $printButtonBackground;
        }
    }
}
#send-section {
    .send-area {
        display: flex;
        justify-content: center;
        button {
            background-color: $sendButtonBackground;
        }
    }
}
/****************************************************/
/********************************** END OF HEADER **************/


// The document area that contains the sheet
#document-section {
    margin-bottom: 100px;
    width: 100%;
    margin-top: 130px;
    .page {
        width: 816px;
        height: 1056px;
        margin: auto;
        background-color: $documentSheet;
        box-shadow: 0px 0px 8px 0px $documentBorder;
        #doc-text-area {
            max-height: 962.6px;
            width: 700px;
            margin: 50px;
            position: absolute;
            textarea {
                max-height: 961.6px;
                width: 100%;
                border: none;
                resize: none;
                overflow: hidden;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}


// The Footer area that contains the page and letter count
footer {
    width: auto;
    box-shadow: 0px 0px 5px 0px $footerBorder;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: $footerBackground;
    
    .page-counter-area {
        margin-right: 150px;
        p {
            margin: 0;
        }
    }
    .letter-counter-area {
        p {
            margin: 0;
        }
    }
}